.wrapper {
  max-width: 1360px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.subWrapper {
  margin: 0 20px;
}

@media (min-width: 300px) {
  .wrapper {
    align-items: stretch;
  }
}

@media (min-width: 720px) {
  .wrapper {
    align-items: center;
  }
}
