.wrapper {
  display: flex;
  flex-direction: column;
  color: var(--textOne);
  line-height: 1.38;
  max-width: 1230px;
  margin: 0 auto;
  padding: 30px 20px;
}

.wrapper > a {
  text-align: center;
}

.title {
  font-weight: 600 !important;
  width: fit-content;
}

.title::after {
  height: 2px;
  content: '';
  display: block;
  background-color: var(--textOne);
  margin-top: 5px;
  border-radius: 10px;
}

.header {
  font-weight: 700;
  margin-top: 40px;
}

.desc {
  margin: 20px 0;
}

@media (min-width: 300px) {
  .header {
    font: var(--headerBig);
  }

  .title,
  .desc {
    font: var(--textSmallMedium);
  }
}

@media (min-width: 720px) {
  .header {
    font: 500 70px 'Ubuntu', sans-serif;
  }

  .title,
  .desc {
    font: var(--bodyRegular);
  }
}
