.countryDetails {
  margin-bottom: 20px;
}

.countryDetails > p {
  margin-bottom: 20px;
  color: var(--textThree);
}

.details > div {
  margin-bottom: 5px;
}

@media (min-width: 300px) {
  .countryDetails > p {
    font: var(--headerSmall);
  }
}

@media (min-width: 720px) {
  .countryDetails > p {
    font: var(--cardHeaderBig);
  }
}
