.header {
  background-color: var(--mainThree);
  color: var(--textOne);
  width: 100%;
  padding: 30px 20px;
  box-shadow: 0 4px 4px rgb(0 0 0/6%);
}

.wrapper {
  max-width: 1230px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.wrapper > a {
  color: var(--textOne);
}

@media (min-width: 320px) {
  .wrapper > a {
    font: var(--headerSmall);
  }
}

@media (min-width: 780px) {
  .wrapper > a {
    font: var(--headerBig);
  }
}
