.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1230px;
  margin: 20px auto;
}

.wrapper > div:last-child {
  height: 50px;
}

@media (min-width: 300px) {
  .wrapper {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
  }

  .wrapper > div:last-child {
    margin-top: 20px;
  }
}

@media (min-width: 800px) {
  .wrapper {
    display: flex;
    flex-direction: row;
  }

  .wrapper > div:last-child {
    margin-top: 0;
  }
}

@media (min-width: 1260px) {
  .wrapper {
    padding: 0;
  }
}
