.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
}

.title {
  color: var(--textOne);
  font: var(--cardHeader);
}

.description {
  margin-top: 10px;
  color: var(--textOne);
  font: var(--textRegular);
}
